@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}




html{
  scroll-behavior: smooth;
}
a{
  cursor: pointer !important;
}

body{
  background-color: #000;
  color: #545454;
  overflow: auto;
}

/* header pure styling */
.circle-text{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius:50% ;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:800px) {
  /* .circle-text{
    width: 150px;
    height: 150px;
  } */
}

#curve{
  fill: transparent;
}

/* try GSAP for this */
.text{
  fill: #000000;
  transform-origin:50% 50% ;
  transform: rotateZ(360deg);
  animation: rotate 15s infinite;
}

@keyframes rotate {
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}

.about:hover h1{
  color: #545454;
}
.about:hover h1 span{
  color:#000;
}



/* css for the first section after the header */
.aesthetics, .harmony{
  padding-top: 25px;
  /* border-bottom: 1px solid white; */
}

.aesthetics h3, .harmony h3{
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
  font-weight: bold;
  
}



.project1,.project2, .project3,.project4,.project5{
  margin: 0;
  position: relative;
  display: inline-block;
  -webkit-text-stroke-width: 0px;
  /* text-stroke-width: 0px; */
}

@media screen and (min-width:900px) {
  .project1::before, .project2::before,.project3::before,.project4::before,.project5::before{
    position: absolute;
    left: 0;
    right: 0;
    top: 9%;
    bottom: 0;
    content: attr(data-letters);
    overflow: hidden;
    white-space: nowrap;
    transition: height 1s;
    color: #def54f;
    height: 0;
    z-index: 999;
  }
  
  .project1:hover:before,.project2:hover:before,.project3:hover:before,.project4:hover:before,.project5:hover:before{
    height: 100%;
  }
}



.site{
  padding-top: 20px;
  padding-bottom: 32px;
  font-size: 120px;
  width: max-content;
  font-weight: bold;
  overflow: hidden;
}
@media screen and (max-width: 1240px) {
  .aesthetics, .harmony{
    padding-top: 20px;
  }
  
  .aesthetics h3, .harmony h3{
    margin-right: 100px;
  }
  .site{
    padding-top: 15px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 800px) {
  .aesthetics h3, .harmony h3{
    margin-right: 50px;
  }

  .site{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 90px;
  }
}

@media screen and (max-width:500px) {
  .aesthetics h3, .harmony h3{
    margin-right: 10px;
    font-size: 12px;
  }

  .site{
    padding-top: 10px;
    width: fit-content;
    padding-bottom: 10px;
    font-size: 40px;
  }
}
@media screen and (max-width:320px) {
  .aesthetics h3, .harmony h3{
    margin-right: 0px;
    font-size: 10px;
  }

  .site{
    font-size: 35px;
  }
}



/* footer animation */
.marquee p{
  animation: move-rt  20000ms linear infinite ;
}

@keyframes move-rt {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}
/* footer pure css */


.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
}


.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}
.button-content:hover{
  color: #000;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: white;
  transition: all 0.475s;
}
